@model MVC.Models.Page.PageModel
@{
    ViewBag.Title = "ListPage";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row gutters">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <a href="/Page/Post">Post to page</a>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    @foreach (var page in Model.datas)
                    {
                        <div style="padding: 10px 5px; margin: 15px 10px; width: 100%; box-shadow: 0 0 10px #719ECE; border-radius: 5px;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                ID : @page.id
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <details>
                                    <summary>
                                        <span><i class="material-icons"><a target="_blank" href="https://facebook.com/@page.id" style="text-decoration:none;">Link to this page</a></i></span>
                                    </summary>
                                </details>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                NAME : @page.name
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    CATEGORY : @(page.category)
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    ABOUT : @(page.about)
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <details class="mb-3">
                                        <summary>
                                            <span><i class="material-icons"><a href="/Page/Feed?id=@page.id&AccessToken=@page.access_token" style="text-decoration:none;">See all feeds</a></i></span>
                                        </summary>
                                        <br />
                                    </details>
                                </div>

                            </div>
                            
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
</div>



