@model MVC.Models.FeedsModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FeedsModel</h2>
@foreach (var post in Model.datas)
{
    <div class="panel panel-default" style="padding: 10px 5px; margin: 15px 10px; width: 100%; box-shadow: 0 0 10px #719ECE; border-radius: 5px;">
        <div class="panel-body">
            <div class="avatar">
                @*  <img src="~/Images/avatar.png" class="img-circle" style="width: 60px;" />*@
                <span> <a href="" style="font-weight:bold">@post.id</a> </span><br />
                <p style="margin-left: 60px; margin-top: -19px;">
                    @*<span class="glyphicon glyphicon-time" aria-hidden="true"></span>*@

                </p>

            </div>

            <div class="postMessage" style="margin-top: 11px; margin-left: 9px;">
                @*<span class="label label-warning"> @string.Format("Post #{0}") </span><br />*@
                <p class="message">
                    @post.message
                </p>
            </div>

        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-success Comment" data-id="" value="Comment">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @post.created_time
            </button>
            <a class="btn btn-success" href="/Comment/Index/@post.id">Detail</a>
        </div>
    </div>
}



