@model MVC.Models.GroupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row gutters">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <a href="/Group/Post">Post to groups</a>
    </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        @foreach (var post in Model.datas)
                        {
                        <div style="padding: 10px 5px; margin: 15px 10px; width: 100%; box-shadow: 0 0 10px #719ECE; border-radius: 5px;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                ID : @post.id
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <details>
                                    <summary>
                                        <span><i class="material-icons"><a target="_blank" href="https://facebook.com/@post.id" style="text-decoration:none;">Link to this group</a></i></span>
                                    </summary>
                                </details>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                NAME : @post.name
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                PRIVACY : @(post.privacy == null ? "Unknown" : post.privacy)
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                TOTAL_MEMBER : @(post.member_count == null ? "Unknown" : post.member_count)
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <details class="mb-3">
                                    <summary>
                                        <span><i class="material-icons"><a href="/Group/Feed/@post.id" style="text-decoration:none;">See all posts</a></i></span>
                                    </summary>
                                    <br />
                                </details>
                            </div>

                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

