@model MVC.Models.GroupModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng bài</h2>
    message<br />
    <input type="text" name="message" />
    <br /><br />
    link<br />
    <input type="text" name="link" />
    <br /><br />
    <select id="example-getting-started" multiple="multiple">
        @foreach (var item in Model.datas.Where(x => x.privacy == "CLOSED" || x.privacy == "OPEN").ToList())
        {
          <option data-id="@item.id">@item.name</option>
        }
    </select>
    <br /><br />
  
    <a href="#" id="btnSend" class="btn btn-primary">Post</a>
